In [13]:
import requests
import pandas as pd
from db import create_table, insert_data
from etl import get_raw_data_colums
colums = set()

In [15]:
URL = 'http://10.43.100.103:8000/data?group_number=4&day=Tuesday'
RESTART_URL = 'http://10.43.100.103:8000/restart_data_generation?group_number=4&day=Tuesday'

In [14]:
def fetch_data():
    
    response = requests.get(URL)
    print("fetch data is starting...")
    columns = set()
    while (response.status_code == 200):
        first_time = False
        print(response)
        data = response.json()['data']
        batch_number = response.json()['batch_number']
        print(f"âœ… Batch number {batch_number}")
        print(f"âœ… Data {len(data)}")
        df = pd.DataFrame(data)
        print(f"âœ… DF {df.head()}")
        print(f" Columnas: {df.columns}")
        columns.update(df.columns)
        response = requests.get(URL)
    print("after while")
    df_columns = pd.DataFrame(columns=["columns"])
    create_table("raw_data_columns", df_columns)
    formatted_columns = pd.DataFrame(list(columns), columns=["columns"])
    insert_data("raw_data_columns", formatted_columns)
    restart_response = requests.get(RESTART_URL)
    print(f"All data fetched. Columns saved, restart response: {restart_response}")

In [15]:
fetch_data()

fetch data is starting...
<Response [200]>
âœ… Batch number 0
âœ… Data 73784
âœ… DF    brokered_by    status     price  bed  bath  acre_lot     street  \
0     101640.0  for_sale  289900.0  4.0   2.0      0.38  1758218.0
1     107951.0  for_sale  299900.0  3.0   2.0      0.87  1336295.0
2      80935.0  for_sale  299000.0  3.0   2.0      0.35   920059.0
3      33714.0  for_sale  221000.0  4.0   2.0      0.32   731702.0
4      29997.0  for_sale  175000.0  3.0   2.0      0.19  1382878.0

            city        state  zip_code  house_size prev_sold_date
0   East Windsor  Connecticut    6016.0      1617.0     1999-09-30
1         Vernon  Connecticut    6066.0      1850.0     2015-11-09
2   North Canaan  Connecticut    6018.0      1620.0     2011-08-23
3  Windsor Locks  Connecticut    6096.0      1735.0     2014-03-03
4     Winchester  Connecticut    6098.0      2005.0     2007-07-19
 Columnas: Index(['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size', 'prev_sold_date'],
      dtype='object')
<Response [200]>
âœ… Batch number 1
âœ… Data 94551
âœ… DF    brokered_by    status     price  bed  bath  acre_lot     street  \
0      92147.0  for_sale  110000.0  7.0   3.0      0.09  1842706.0
1      91020.0  for_sale  215000.0  2.0   1.0      0.91  1062364.0
2      10585.0  for_sale  144900.0  2.0   1.0      0.36   765673.0
3      22611.0  for_sale  239900.0  3.0   1.0      1.43  1244868.0
4      75650.0  for_sale  249900.0  3.0   1.0      0.23   114997.0

           city        state  zip_code  house_size prev_sold_date
0        Dorado  Puerto Rico     949.0      1192.0     2019-06-28
1  East Windsor  Connecticut    6016.0       960.0     2012-06-06
2        Vernon  Connecticut    6066.0       860.0     2016-09-02
3  East Windsor  Connecticut    6016.0      1351.0     2009-06-05
4       Enfield  Connecticut    6082.0      1220.0     2003-11-14
 Columnas: Index(['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size', 'prev_sold_date'],
      dtype='object')
<Response [200]>
âœ… Batch number 2
âœ… Data 230366
âœ… DF    brokered_by status     price  bed  bath  acre_lot     street       city  \
0      61711.0   sold   90000.0  3.0   2.0      0.08   141421.0  Aguadilla
1      49592.0   sold   22500.0  2.0   1.0      0.32  1889894.0     Anasco
2      72408.0   sold  168000.0  6.0   4.0      0.05  1157317.0     Anasco
3      60830.0   sold  200000.0  3.0   1.0      4.98  1855411.0    Arecibo
4      60830.0   sold  250000.0  5.0   2.0      0.25  1946165.0    Arecibo

         state  zip_code  house_size prev_sold_date
0  Puerto Rico     603.0      1421.0     2021-10-19
1  Puerto Rico     610.0       850.0     2021-12-30
2  Puerto Rico     610.0      3422.0     2021-10-21
3  Puerto Rico     612.0       580.0     2022-03-16
4  Puerto Rico     612.0      1210.0     2022-02-24
 Columnas: Index(['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size', 'prev_sold_date'],
      dtype='object')
<Response [200]>
âœ… Batch number 3
âœ… Data 4055
âœ… DF    brokered_by    status     price  bed  bath  acre_lot     street      city  \
0      67455.0  for_sale  289900.0  3.0   2.0      0.36  1698080.0    Agawam
1      33714.0  for_sale  199999.0  3.0   2.0      1.76  1745924.0    Agawam
2      62476.0  for_sale  275000.0  3.0   2.0      0.16  1308332.0   Amherst
3      77236.0  for_sale  249900.0  4.0   3.0      0.29  1342303.0  Chicopee
4      98727.0  for_sale  240000.0  2.0   1.0      0.28  1548010.0  Chicopee

           state  zip_code  house_size prev_sold_date
0  Massachusetts    1001.0      1276.0     2012-10-12
1  Massachusetts    1001.0      1968.0     2008-09-19
2  Massachusetts    1002.0      1280.0     2021-08-19
3  Massachusetts    1020.0      1514.0     1996-07-30
4  Massachusetts    1013.0      1207.0     2011-11-29
 Columnas: Index(['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size', 'prev_sold_date'],
      dtype='object')
<Response [200]>
âœ… Batch number 4
âœ… Data 320696
âœ… DF    brokered_by    status     price  bed  bath  acre_lot     street     city  \
0      97400.0  for_sale  384900.0  3.0   2.0      0.46  1244899.0   Agawam
1      22188.0  for_sale  419000.0  4.0   2.0      2.00  1417448.0   Pelham
2      48733.0  for_sale  415000.0  4.0   2.0      0.49   816546.0  Amherst
3      48733.0  for_sale  390000.0  3.0   2.0      0.50   236564.0  Amherst
4      48733.0  for_sale  499900.0  4.0   3.0      0.46   197884.0  Amherst

           state  zip_code  house_size prev_sold_date
0  Massachusetts    1001.0      1476.0     1986-11-20
1  Massachusetts    1002.0      1607.0     2005-07-25
2  Massachusetts    1002.0      1814.0     1997-06-30
3  Massachusetts    1002.0      1128.0     1998-09-17
4  Massachusetts    1002.0      2143.0     1988-06-10
 Columnas: Index(['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size', 'prev_sold_date'],
      dtype='object')
<Response [200]>
âœ… Batch number 5
âœ… Data 361457
âœ… DF    brokered_by    status      price  bed  bath  acre_lot     street  \
0      94933.0  for_sale   950000.0  5.0   4.0      0.99  1260473.0
1     103341.0  for_sale  6899000.0  4.0   6.0      0.83    17467.0
2      21163.0  for_sale   525000.0  3.0   3.0      0.45  1813270.0
3      13548.0  for_sale   745000.0  4.0   3.0      0.56    59271.0
4      59566.0  for_sale   875000.0  4.0   4.0      1.50  1470871.0

           city           state  zip_code  house_size prev_sold_date
0  Saint Thomas  Virgin Islands     802.0      5000.0     2013-10-11
1  Saint Thomas  Virgin Islands     802.0      4600.0     2018-04-05
2        Agawam   Massachusetts    1001.0      2314.0     2014-06-25
3       Amherst   Massachusetts    1002.0      2847.0     1992-06-24
4        Pelham   Massachusetts    1002.0      4366.0     1996-07-12
 Columnas: Index(['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size', 'prev_sold_date'],
      dtype='object')
after while
port 8005
create_table ddl
    CREATE TABLE IF NOT EXISTS `raw_data_columns` (
      `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
      `columns` VARCHAR(255) NOT NULL DEFAULT '0' ,
      /* SHA2-256 -> 32 bytes binary; safer than MD5 for collision risk */
      `row_hash` BINARY(32)
        GENERATED ALWAYS AS (UNHEX(SHA2(CONCAT_WS('|',COALESCE(`columns`,'')), 256))) STORED,
      UNIQUE KEY `uniq_row_hash` (`row_hash`),
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 ROW_FORMAT=DYNAMIC;

ðŸ”’ MySQL connection closed
port 8005
âœ… Inserted 12 rows into raw_data_columns
ðŸ”’ MySQL connection closed
All data fetched. Columns saved, restart response: <Response [200]>

In [9]:
column_names = get_raw_data_colums()
df_new = pd.DataFrame(columns=column_names["columns"].tolist())

print(df_new)

port 8005
ðŸ”’ MySQL connection closed
columns in get_raw_data_colums ['columns', 'row_hash']
Empty DataFrame
Columns: [city, price, prev_sold_date, bed, status, house_size, zip_code, brokered_by, street, state, acre_lot, bath]
Index: []

In [12]:
create_table("raw_data", df_new)
create_table("raw_dat_temporal", df_new)

port 8005
create_table ddl
    CREATE TABLE IF NOT EXISTS `raw_data` (
      `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
      `city` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `price` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `prev_sold_date` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `bed` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `status` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `house_size` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `zip_code` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `brokered_by` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `street` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `state` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `acre_lot` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `bath` VARCHAR(255) NOT NULL DEFAULT '0' ,
      /* SHA2-256 -> 32 bytes binary; safer than MD5 for collision risk */
      `row_hash` BINARY(32)
        GENERATED ALWAYS AS (UNHEX(SHA2(CONCAT_WS('|',COALESCE(`city`,''), COALESCE(`price`,''), COALESCE(`prev_sold_date`,''), COALESCE(`bed`,''), COALESCE(`status`,''), COALESCE(`house_size`,''), COALESCE(`zip_code`,''), COALESCE(`brokered_by`,''), COALESCE(`street`,''), COALESCE(`state`,''), COALESCE(`acre_lot`,''), COALESCE(`bath`,'')), 256))) STORED,
      UNIQUE KEY `uniq_row_hash` (`row_hash`),
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 ROW_FORMAT=DYNAMIC;

ðŸ”’ MySQL connection closed
port 8005
create_table ddl
    CREATE TABLE IF NOT EXISTS `raw_dat_temporal` (
      `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
      `city` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `price` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `prev_sold_date` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `bed` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `status` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `house_size` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `zip_code` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `brokered_by` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `street` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `state` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `acre_lot` VARCHAR(255) NOT NULL DEFAULT '0' ,
  `bath` VARCHAR(255) NOT NULL DEFAULT '0' ,
      /* SHA2-256 -> 32 bytes binary; safer than MD5 for collision risk */
      `row_hash` BINARY(32)
        GENERATED ALWAYS AS (UNHEX(SHA2(CONCAT_WS('|',COALESCE(`city`,''), COALESCE(`price`,''), COALESCE(`prev_sold_date`,''), COALESCE(`bed`,''), COALESCE(`status`,''), COALESCE(`house_size`,''), COALESCE(`zip_code`,''), COALESCE(`brokered_by`,''), COALESCE(`street`,''), COALESCE(`state`,''), COALESCE(`acre_lot`,''), COALESCE(`bath`,'')), 256))) STORED,
      UNIQUE KEY `uniq_row_hash` (`row_hash`),
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 ROW_FORMAT=DYNAMIC;

ðŸ”’ MySQL connection closed

In [18]:
restart_response = requests.get(RESTART_URL)
print(f"All data fetched. Columns saved, restart response: {restart_response}")

All data fetched. Columns saved, restart response: <Response [200]>